<mat-card>
  <mat-card-title>Beers</mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of beer$ | async">
        {{item.id}}  ||  {{item.name}}  ||  {{item.description}}
      </mat-list-item>
    </mat-list>
    <mat-paginator *ngIf="beers$ | async as beers" [length]="beers.length"
                   [pageSize]= "10"
                   [pageSizeOptions]="[5, 10, 20]"
                   (page) = onPageChange($event)
                   aria-label="Select page"></mat-paginator>
  </mat-card-content>
</mat-card>
